body {
  margin: 0;
  font-family:  arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Shadows Into Light', cursive;
  color: white;
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2fa57e, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2fa57e, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
p{
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
